@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<div class="cadastro_banner">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<section class="cadastro_main">
    <form class="container_input" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
    
        <div class="container_posicionador">
            <label class="span_input" for="">ID da Equipe</label>
            <input class="input_email_cadastro" type="text" name="IdEquipe" required>
        </div>
    
        <div class="container_posicionador">
            <label class="span_input" for="">Nome Da Equipe</label>
            <input class="input_email_cadastro" type="text" name="Nome" required>
        </div>
    
        <div class="container_posicionador">
            <span class="span_input">Emblema da Equipe</span>
            <label class="label_input" for="file">Escolher Imagem</label>
            <input class="input_file_cadastro" type="file" name="Imagem" id="file">
        </div>
    
        <button class="btn_cadastrar_cadastro" type="submit">Cadastrar</button>
    
    </form>
    
    <table>
    
        <thead class="table_head">
            <tr class="tr1">
                <th class="id_equipe">ID</th>
                <th>Nome</th>
                <th>Foto</th>
            </tr>
        </thead>
    
        <tbody class="tbody_">
            @foreach (Equipe equipe in ViewBag.equipes)
            {
                <tr class="tr_">
                    <td class="td_ id_equipe">@equipe.IdEquipe</td>
                    <td class="td_">@equipe.NomeEquipe</td>
                    <td class="td_ td_foto"><img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.NomeEquipe" width="50px" height="60px"></td>
                    <td class="td_"><a class="excluir" asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">Excluir</a></td>
                </tr>
            }
        </tbody>
    
    </table>
</section>