@model Jogador

@{
    ViewData["Title"] = "Jogadores";
}

<div class="cadastro_banner">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<section class="cadastro_main cadastro_jogador">
    <form class="container_input jogador" method="POST" action='@Url.Action("Cadastrar")'>
    
        <div class="container_posicionador">
            <label class="span_input" for="">ID</label>
            <input class="input_email_cadastro" type="text" name="IdJogador" required>
        </div>
    
        <div class="container_posicionador">
            <label class="span_input" for="">Nome</label>
            <input class="input_email_cadastro" type="text" name="NomeJogador" required>
        </div>
    
        <div class="container_posicionador">
            <label class="span_input" for="">Equipe</label>
            <select class="input_email_cadastro" name="EquipeJogador" id="">
                <option value="0" disabled selected>Selecione</option>
                @foreach (var item in ViewBag.Equipes)
                {
                    <option value="@item.IdEquipe">@item.NomeEquipe</option>
                }
            </select>
        </div>

        <div class="container_posicionador">
            <label class="span_input" for="">Email</label>
            <input class="input_email_cadastro" type="email" name="EmailJogador" required>
        </div>

        <div class="container_posicionador">
            <label class="span_input" for="">Senha</label>
            <input class="input_email_cadastro" type="password" name="SenhaJogador" required>
        </div>
    
        <button class="btn_cadastrar" type="submit">Cadastrar</button>
    
    </form>
    
    <table>
    
        <thead class="table_head">
            <tr class="tr1">
                <th>ID</th>
                <th>Nome</th>
                <th>Equipe</th>
            </tr>
        </thead>
    
        <tbody class="tbody_">
    
            @foreach (Jogador jogador in ViewBag.Jogadores)
            {
                <tr class="tr_">
                    <td class="td_">@jogador.IdJogador</td>
                    <td class="td_">@jogador.NomeJogador</td>
                    <td class="td_">@jogador.IdEquipe</td>
                    <td class="td_"><a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">Excluir</a></td>
                </tr>
            }
    
        </tbody>
    
    </table>
</section>